DATABASE_PASSWORD=database-password
DATABASE_URL=postgresql://postgres:${DATABASE_PASSWORD}@db.my-project-id.supabase.co:6543/postgres?pgmode=transaction
DATABASE_URL_UNPOOLED=postgresql://postgres:${DATABASE_PASSWORD}@db.my-project-id.supabase.co:5432/postgres